/* Global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* colors */
	/* primary */
	--soft-red: hsl(7, 99%, 70%);
	--yellow: hsl(51, 100%, 49%);
	--graphic-design-text: hsl(167, 40%, 24%);
	--photography-text: hsl(198, 62%, 26%);
	--footer: 168, 34%, 41%;

	/* neutral */
	--very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--very-dark-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);

	/* typography */
	font-family: "Barlow", sans-serif;
}

body {
	max-width: 1440px;
	margin: 0 auto;
}

li {
	list-style: none;
}

button {
	border: none;
	padding: 1rem 2.25rem;
	border-radius: 2rem;
	color: var(--very-dark-desaturated-blue);
}

p {
	line-height: 1.75;
}

/* header */
header {
	background-image: url(../images/desktop/image-header.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/* min-height: 50vw; */
	/* height: 790px; */
	color: var(--white);
	text-align: center;
}

@media screen and (max-width: 950px) {
	header {
		background-image: url(../images/mobile/image-header.jpg);
	}
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.875rem 2.5rem;
}

#navlinks {
	display: flex;
	align-items: center;
}

#navlinks li {
	cursor: pointer;
	margin: 0 1.25rem;
}

@media screen and (max-width: 950px) {
	#navlinks {
		flex-direction: column;
	}
}

#navlinks button {
	font-family: "Fraunces", serif;
	background-color: var(--white);
	text-transform: uppercase;
	transition: background-color 200ms;
}

#navlinks button:hover {
	color: var(--white);
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.burger {
	display: none;
}

@media screen and (max-width: 950px) {
	#navlinks {
		display: none;
	}

	.burger {
		display: block;
	}
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1,
h2,
h3,
h4 {
	font-family: "Fraunces", serif;
}
h1 {
	font-size: 3.7rem;
	text-transform: uppercase;
	margin: 5rem 0 6rem;
	letter-spacing: 0.5rem;
}

@media screen and (max-width: 950px) {
	h1 {
		font-size: 2rem;
	}
}

#arrow {
	text-align: center;
	margin-bottom: 18rem;
}

h2 {
	font-size: 2.6rem;
	color: var(--very-dark-desaturated-blue);
}

.features {
	display: grid;
	grid-template-columns: 50% 50%;
}

@media screen and (max-width: 950px) {
	#arrow {
		margin-bottom: 10rem;
	}

	.features {
		grid-template-columns: 1fr;
	}
}

main img {
	width: 100%;
	height: 100%;
}

section.info {
	padding: 155px 100px 140px 165px;
}

@media screen and (max-width: 950px) {
	section.info {
		padding: 70px 30px;
		text-align: center;
	}
}

section.info p {
	margin: 30px 0 40px;
	color: var(--dark-grayish-blue);
	font-size: 1.15rem;
}

section#transform-info {
	order: -1;
}

@media screen and (max-width: 950px) {
	section#transform-info {
		order: 0;
	}
}

.more-link {
	text-transform: uppercase;
	color: var(--very-dark-desaturated-blue);
	font-family: "Fraunces", serif;
	letter-spacing: 0.05rem;
	line-height: 0.1px;
	position: relative;
	text-decoration: none;
}

.more-link::before {
	position: absolute;
	content: "";
	height: 0.5rem;
	width: 110%;
	bottom: -2px;
	left: 0;
	transform: translateX(-5%);
	z-index: -1;
	border-radius: 10px;
	opacity: 0.4;
	transition: opacity 200ms ease-out 100ms;
}

.more-link:hover::before {
	opacity: 1;
}

#transform-info .more-link::before {
	background-color: var(--yellow);
}

#standout-info .more-link::before {
	background-color: var(--soft-red);
}

.image {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#transform-img {
	background-image: url(../images/desktop/image-transform.jpg);
}

#standout-img {
	background-image: url(../images/desktop/image-stand-out.jpg);
}

@media screen and (max-width: 950px) {
	.image {
		height: 88vw;
		max-height: 400px;
	}
	#transform-img {
		background-image: url(../images/mobile/image-transform.jpg);
	}

	#standout-img {
		background-image: url(../images/mobile/image-stand-out.jpg);
	}
}

.feature {
	height: 600px;
	text-align: center;
	padding: 60px;
}

.feature .text {
	margin-top: 20.5rem;
}

.feature p {
	margin: 0 auto;
	max-width: 20.6rem;
	opacity: 0.9;
}

h3 {
	font-size: 2rem;
	margin-bottom: 1.875rem;
}

#graphic-design {
	background-image: url(../images/desktop/image-graphic-design.jpg);
	background-size: 100% 100%;
	color: var(--graphic-design-text);
}

#photography {
	background-image: url(../images/desktop/image-photography.jpg);
	background-size: 100% 100%;
	color: var(--photography-text);
}

@media screen and (max-width: 950px) {
	#graphic-design {
		background-image: url(../images/mobile/image-graphic-design.jpg);
	}

	#photography {
		background-image: url(../images/mobile/image-photography.jpg);
	}
}

/* testimonials */

.testimonials-container {
	padding: 10rem 1rem;
	text-align: center;
}

.testimonials-container h4 {
	font-size: 1.25rem;
	color: var(--grayish-blue);
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.testimonials {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 5rem;
}

.testimonial {
	max-width: 330px;
	margin: 60px 25px;
}

img.profile-pic {
	width: 4.6rem;
	height: 4.6rem;
	border-radius: 100%;
}

.comment {
	margin: 3.75rem 0 4.35rem;
	color: var(--very-dark-grayish-blue);
}

.profile-name {
	font-family: "Fraunces", serif;
	font-size: 1.15rem;
}

.profile-title {
	color: var(--grayish-blue);
}

@media screen and (max-width: 950px) {
	.testimonials-container {
		padding: 4rem 2rem;
	}

	.testimonials {
		margin-top: 0;
		/* flex-direction: column; */
	}

	.testimonial:last-child {
		margin-bottom: 80px;
	}

	.comment {
		margin: 2.5rem 0;
	}
}

/* grid-pictures */
.grid-pictures {
	display: grid;
	grid-auto-rows: 445px;
	grid-template-columns: 25% 25% 25% 25%;
}

.grid-pictures div:nth-child(1) {
	background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.grid-pictures div:nth-child(2) {
	background-image: url(../images/desktop/image-gallery-orange.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.grid-pictures div:nth-child(3) {
	background-image: url(../images/desktop/image-gallery-cone.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.grid-pictures div:nth-child(4) {
	background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

@media screen and (max-width: 950px) {
	.grid-pictures {
		grid-template-columns: 50% 50%;
		grid-auto-rows: 185px;
	}

	.grid-pictures div:nth-child(1) {
		background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.grid-pictures div:nth-child(2) {
		background-image: url(../images/mobile/image-gallery-orange.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.grid-pictures div:nth-child(3) {
		background-image: url(../images/mobile/image-gallery-cone.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.grid-pictures div:nth-child(4) {
		background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
}

/* footer */
footer {
	color: hsl(var(--footer));
	background-color: #8bd0c3;
	text-align: center;
	padding: 4.5rem;
}

footer ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer li:hover {
	transition: color 200ms;
	cursor: pointer;
	color: var(--white);
}

#footer-links {
	margin: 2.5rem 0 5rem;
}

#footer-links li {
	cursor: pointer;
	margin: 0 1.75rem;
}

#socials li {
	cursor: pointer;
	margin: 0 1rem;
}

#socials li svg path {
	transition: fill 200ms;
}
#socials li svg:hover path {
	fill: #fff;
}
